.box-date-show-main .date-show-main{
    width: 160px;
    margin-left: 20px;
    border-radius: 5px;
}
.date-show-main h2{
    margin-left: 10px;
    top: 100px;
    border: solid;
    border-radius: 7px;
    padding: 0 0 0 10px;
    width: 150px;
}
.event-box-container{
    display: flex;
    flex-direction: row;
}
  